/* Backgrounds */
#originals-banner {
	padding: 150px 0;
	background-image: url("/img/Red2-min.jpg");
}
#hot-cakes-banner {
	padding: 150px 0;
	background-image: url("/img/Red2-min.jpg");
}
#hot-sticks-banner, #hotsticks-banner {
	padding: 150px 0;
	background-image: url("/img/Red2-min.jpg");
}
#wax-snaps-banner, #waxsnaps-banner {
	padding: 150px 0;
	background-image: url("/img/Red2-min.jpg");
}

#paints-banner {
	padding: 150px 0;
	background-image: url("/img/Red2-min.jpg");
}
#interference-banner {
	padding: 150px 0;
	background-image: url("/img/Red2-min.jpg");
}
#home-banner {
	padding: 300px 0 0 0;
	background-image: url("/img/Red2-min.jpg");

	@include md {
		padding: 0;

		.pti {
			padding: 100px 0;
		}
	}
}

#colors-banner {
	padding: 100px 0;
	background-image: url("/img/Red2-min.jpg");
}
#faq-banner {
	padding: 100px 0;
	background-image: url("/img/Red2-min.jpg");
}

/* Sundries Banners */
#usp-white-banner {
	padding: 150px 0;
	background-image: url("/img/Red2-min.jpg");
}
#usp-yellow-banner {
	padding: 150px 0;
	background-image: url("/img/Red2-min.jpg");
}
#bleached-banner {
	padding: 150px 0;
	background-image: url("/img/Red2-min.jpg");
}
#carnauba-banner {
	padding: 150px 0;
	background-image: url("/img/Red2-min.jpg");
}
#luster-wax-banner {
	padding: 150px 0;
	background-image: url("/img/Red2-min.jpg");
}
#micro-wax-banner {
	padding: 150px 0;
	background-image: url("/img/Red2-min.jpg");
}
#impasto-wax-banner {
	padding: 150px 0;
	background-image: url("/img/Red2-min.jpg");
}
#damar-resin-banner {
	padding: 150px 0;
	background-image: url("/img/Red2-min.jpg");
}
#rabbit-skin-glue-banner {
	padding: 150px 0;
	background-image: url("/img/Red2-min.jpg");
}
#soy-wax-banner {
	padding: 150px 0;
	background-image: url("/img/Red2-min.jpg");
}
#wax-medium-banner {
	padding: 150px 0;
	background-image: url("/img/Red2-min.jpg");
}
#xd-wax-medium-banner {
	padding: 150px 0;
	background-image: url("/img/Red2-min.jpg");
}
#slick-wax-banner {
	padding: 150px 0;
	background-image: url("/img/Red2-min.jpg");
}

.banner {
	@include container;
}	
.gallery {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	@include sm {
		padding: 150px 0;
	}

	.pti {
		width: 200px;
		bottom: 0;
		left: 0;
		padding: 0 0 $unit $unit;

		.pti-svg {
			fill: white;
		}

		@include sm {
			left: auto;
			bottom: auto;
			margin-left: auto;
			margin-right: auto;

			padding: 0;
		}
	}
}

.banner-text {
	text-align: center;
	font-family: $serif-2;
	color: white;
}

h2.banner-text {
	font-size: modular-scale(3);
}

