.block-list {
	lost-center: $site-width;
	background:blue;
}
.block {
	@include sm {
		lost-column: 1/2;
	}
	@include sm-and-up {
		lost-column: 1/4;
	}
	&:nth-child(odd) {
		background:grey;
	}
}

footer {
	background:grey;
}